#bottomRight {
  position: fixed;
}

.aboutHeader::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 2px;
  left: 20px;
  width: 215px;
  height: 40px;
  z-index: -1;
  background: #ffedf5;
}

@media only screen and (max-width: 767px) {
  .aboutHeader::after {
    bottom: 2px;
    left: 20px;
    width: 150px;
    height: 30px;
    z-index: -1;
  }
}
