.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.headingH1 {
  font-size: 3.5rem;
  position: relative;
}

.headingH2 {
  font-size: 1.5rem;
}

.homeContainer {
  height: 93vh;
  flex-direction: column;
}

.homeMainContent {
  text-align: center;
  /* height: 80vh; */
  /* height: 500px; */
  /* border: 3px solid black;  */
}

/***** SVG *****/
.svgTL {
  left: 0;
  top: 0;
}

.svgTR {
  right: 0;
  top: 0;
}

.svgBR {
  right: 0;
  bottom: 0;
}

.svgBL {
  left: 0;
  bottom: 0;
}

.headingDiv {
  /* left: 100;
  bottom: 100; */
  position: relative;
  width: 215px;
  height: 37px;
  left: 25px;
  top: 80px;
}

.whiteBackground {
  background-color: white;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.roundedCorners {
  border-radius: 20px;
}

.svg-show {
  /* display: block; */
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.bodyContent {
  margin: auto;
  max-width: 37em;
  padding: 0 1em 1em 1em;
}

@media only screen and (max-width: 576px) {
  .centerOnMobile {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .headingH1 {
    font-size: 2.5rem;
  }
}
